<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">IMT Events</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['events/create']" *ngIf="tokenService.isValid()">Create</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['events/list']">List Events</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-2 mt-2 mt-lg-0" *ngIf="!tokenService.isValid()">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['login']">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-2 mt-2 mt-lg-0" *ngIf="tokenService.isValid()">
      <li class="nav-item text-white">
        <strong><u>{{ tokenService.getCurrentUser()?.name }}</u></strong>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">
        <a class="nav-link" href="javascript:void(0)" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>