<div class="event-form">
  <h3 class="text-center mb-4">Create a new event</h3>
  <form [formGroup]="eventForm" (ngSubmit)="create()">
    <div class="form-group">
      <label for="title">Event title</label>
      <input type="text" class="form-control" (keyup)="refresh.next()" formControlName="title" id="title">
    </div>

    <div class="form-group">
      <label for="start">Start day</label>
      <input class="form-control" type="text" mwlFlatpickr formControlName="start" id="start" (ngModelChange)="refresh.next()"
        [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
        placeholder="Not set" [minDate]="today">
    </div>

    <div class="form-group">
      <label for="end">End day</label>
      <input class="form-control" type="text" mwlFlatpickr formControlName="end" id="end" (ngModelChange)="refresh.next()"
        [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
        placeholder="Not set" [minDate]="today">
    </div>

    <div class="form-group">
      <label for="organizer">Organizer</label>
      <input type="text" class="form-control" (keyup)="refresh.next()" formControlName="organizer" id="organizer">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="" id="description" formControlName="description" rows="3" (keyup)="refresh.next()"></textarea>
    </div>

    <div class="text-center">
      <button class="btn btn-primary" type="submit" [disabled]="eventForm.invalid">
        Create Event
      </button>
    </div>

  </form>
</div>