<ng-template #loading>
    <div class="text-center">
        <i class="fa fa-spin fa-spinner fa-5x"></i>
        <br>
        Loading events...
    </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
    <h3 class="text-center mb-4 mt-2">List events</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th style="width: 12%">Title</th>
                <th style="width: 10%">Starts at</th>
                <th style="width: 10%">Ends at</th>
                <th style="width: 10%">Organizer</th>
                <th style="width: 40%">Description</th>
                <th style="width: 10%">Created by</th>
                <th *ngIf="tokenService.isValid()">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let event of events; let index = index">
                <td>{{index+1}}</td>
                <td>
                    {{event.title}}
                </td>
                <td>
                    {{event.start | date: 'mediumDate'}}
                </td>
                <td>
                    {{event.end | date: 'mediumDate'}}
                </td>
                <td>
                    {{event.organizer}}
                </td>
                <td class="ellipsis">
                    {{event.description}}
                </td>
                <td>
                    {{event.author}}
                </td>
                <td *ngIf="tokenService.isValid()">
                    <div *ngIf="event.author === tokenService.getCurrentUser().name">
                        <button type="button" class="btn btn-warning text-white" (click)="editEvent(event)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger text-white" (click)="deleteEvent(event.id)">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="editState">
        <div class="card">
            <div class="card-body">
                <form (ngSubmit)="updateEvent()">
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" [(ngModel)]="eventToEdit.title" name="title">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="start" class="col-sm-2 col-form-label">Starts at</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="eventToEdit.start" name="start"
                                id="start" (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true"
                                [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="end" class="col-sm-2 col-form-label">Starts at</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="eventToEdit.end" name="end"
                                id="end" (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true"
                                [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="organizer" class="col-sm-2 col-form-label">Organizer</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="organizer" [(ngModel)]="eventToEdit.organizer"
                                name="organizer" maxlength="50">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" [(ngModel)]="eventToEdit.description"
                                name="description" maxlength="300">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>