<div class="text-center">
  <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="signin()">
    <img class="mb-4" src="https://www.imt-atlantique.fr/sites/default/files/Images/Ecole/charte-graphique/IMT_Atlantique_logo_RVB_Baseline_400x272.jpg"
      alt="" height="150">
    <!-- <h1 class="h3 mb-3 font-weight-normal"></h1> -->
    <div class="form-group">
      <label for="inputID" class="sr-only">ID</label>
      <input type="text" id="inputID" class="form-control" placeholder="ID" autofocus formControlName="id">
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password">
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" formControlName="remember"> Remember me
      </label>
    </div>

    <button class="btn btn-primary btn-block" type="submit" [disabled]="signinForm.invalid">Sign in</button>
  </form>
</div>