<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData?.event?.title }}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div> -->
    <div>
      <div class="alert alert-primary" role="alert">
        <p class="mb-0">
          <strong>Title:</strong> {{ modalData?.event?.title }} <br>
          <strong>Start:</strong> {{ modalData?.event?.start | date: 'medium'}} <br>
          <strong>End:</strong> {{ modalData?.event?.end | date: 'medium'}} <br>
          <strong>Organizer:</strong> {{ modalData?.event?.organizer}} <br>
          <strong>Description:</strong> {{ modalData?.event?.description}} <br>
          <strong>Author:</strong> {{ modalData?.event?.author}} <br>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-2 col-6 mt-1">
    <div class="btn-group d-flex" role="group">
      <div class="btn btn-primary w-100" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        <i class="fa fa-backward"></i>
      </div>
      <div class="btn btn-outline-secondary w-100" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary w-100" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        <i class="fa fa-forward"></i>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-6 mt-1">
    <div class="btn-group d-flex">
      <div class="btn btn-primary w-100" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
        M
      </div>
      <div class="btn btn-primary w-100" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary w-100" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
        D
      </div>
    </div>
  </div>

  <div class="col-md-6 col-8 mt-1">
    <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
  </div>

  <div class="col-md-2 col-4 mt-1">
    <button type="button" class="btn btn-primary float-right" *ngIf="tokenService.isValid()" (click)="addEvent()">
      <i class="fa fa-plus-square"></i> Add an event
    </button>
  </div>

</div>
<br>

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading events...
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>
<!-- 
<br><br><br>

<h3>
  List events
  <button class="btn btn-primary pull-right" (click)="addEvent()">
    Add new event
  </button>
  <div class="clearfix"></div>
</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Primary color</th>
      <th>Secondary color</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of events; let index = index">
      <td>{{index+1}}</td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()">
      </td>
      <td>
        <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()">
      </td>
      <td>
        <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()">
      </td>
      <td>
        <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start" (ngModelChange)="refresh.next()"
          [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
          placeholder="Not set">
      </td>
      <td>
        <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end" (ngModelChange)="refresh.next()"
          [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
          placeholder="Not set">
      </td>
      <td>
        <button class="btn btn-danger" (click)="events.splice(index, 1); refresh.next()">
          Delete
        </button>
      </td>
    </tr>
  </tbody>

</table> -->